* {
  margin: 0;
  padding: 0;
}

body {
    background-image:url(https://i.pinimg.com/564x/b7/91/d3/b791d32d872a2d162643217483c5640c.jpg);
  background-size: cover;

  background-attachment: fixed;
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Roboto' , sans-serif;
}

.container {
  width: 30rem;
  height: 50rem;
  box-shadow: inset 0 0 1000px rgb(243, 240, 238);
  backdrop-filter: blur(10px);
}

ul {
  list-style: none;
}
 header {

   padding: 32px 0;
   text-align: center;
 }


header,
section {
  max-width: 300px;
  margin: 0 auto;
  
}

header h1 {
  margin-bottom: 4px;
  font-size: 28px;
  color: rgb(175, 102, 6);
  line-height: 33px;
}

header h1 span {
  color: #442708;
}

section {
  margin-bottom: 24px;
}

section h2 {
  background-color: rgb(235, 174, 82);
  padding: 8px 16px;
  text-align: center;
  font-size: 18px;
  color: #f8efe6;

  margin-bottom: 24px;
}

h1 , h2 , h3 , .price {
  font-family: 'Roboto Serif', serif ;
  text-transform: uppercase;
  
}

ul li {
  margin-bottom: 16px;
  display: flex;
}

li .details {
  max-width: 240px;
}

.details h3 {
  margin-bottom: 8px;
  font-size: 17px;
  color: rgb(145, 63, 8);
}

.details p {
  color: black;
  font-size: 17px;
  line-height: 21px;
}

